Source: astro-api-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0), perl (>= 5.8.8-12ubuntu0.5)
Maintainer: root <frank.tveter@met.no>
Standards-Version: 3.7.2
Homepage: http://github.com/FrankThomasTveter/astro-api/

Package: astro-api-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}, 
Description:  When does the sun rise and set for a given place?
 When is the next full Moon?
 What are the positions of the planets at a given time?
 .
 Send a simple http-request and find out, or navigate the astronomical 
 events on the associated webpage. 
 .
 See the wiki-pages at http://gitbub.com/FrankThomasTveter/astro-api 
 for more details and examples.